.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(223, 222, 222, 0.87);
    box-sizing: border-box;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 700;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 183, 255, 0.623);
      cursor: pointer;
    }

    &.selected {
      background-color: rgb(0, 88, 189);
      color: #ffffff;
    }

    .arrow {
      &::before {
        position: relative;
        content: "";
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        font-size: 18px;
        border-right: 0.14em solid rgba(255, 255, 255, 0.87);
        border-top: 0.14em solid rgba(255, 255, 255, 0.87);
      }

      &.left {
        transform: rotate(-135deg);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.14em solid rgba(0, 0, 0, 0.43);
        border-top: 0.14em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
