@import "./header.scss";

* {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #303146;
  color: #ffffff;
}

.main {
  flex: 1 1 auto;
}
